<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Burger Munchies!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgers.js"></script>
	</head>
	<body>
        <h1>Satisfying your munchies one <em>juicilicious</em> burger at a time! </h1>
		{{{ body }}}
	</body>
</html>
